@media screen and (max-width: 1680px) {
.container {
width: 80em;
}
}
@media screen and (max-width: 1280px) {
.container {
width: 65em;
}
}
@media screen and (max-width: 980px) {
.container {
width: 90%;
}
}
@media screen and (max-width: 736px) {
.container {
width: 90% !important;
}
}
@media screen and (max-width: 480px) {
.container {
width: 90% !important;
}
}
@media screen and (max-width: 1680px) {
.row > * {
padding: 0 0 0 2em;
}
.row {
margin: 0 0 -1px -2em;
}
.row.uniform > * {
padding: 2em 0 0 2em;
}
.row.uniform {
margin: -2em 0 -1px -2em;
}
}
@media screen and (max-width: 980px) {
.row > * {
padding: 0 0 0 1.5em;
}
.row {
margin: 0 0 -1px -1.5em;
}
.row.uniform > * {
padding: 1.5em 0 0 1.5em;
}
.row.uniform {
margin: -1.5em 0 -1px -1.5em;
}
}
@media screen and (max-width: 736px) {
.row > * {
padding: 0 0 0 1.25em;
}
.row {
margin: 0 0 -1px -1.25em;
}
.row.uniform > * {
padding: 1.25em 0 0 1.25em;
}
.row.uniform {
margin: -1.25em 0 -1px -1.25em;
}
}
@media screen and (max-width: 480px) {
.row > * {
padding: 0 0 0 1.25em;
}
.row {
margin: 0 0 -1px -1.25em;
}
.row.uniform > * {
padding: 1.25em 0 0 1.25em;
}
.row.uniform {
margin: -1.25em 0 -1px -1.25em;
}
}
@media screen and (max-width: 480px) {
html, body {
min-width: 320px;
}
.about_two {
margin-top: 2em!important;
margin-bottom: 2em!important;
}
}
@media screen and (max-width: 1680px) {
body, input, select, textarea {
font-size: 13pt;
}
}
@media screen and (max-width: 1280px) {
body, input, select, textarea {
font-size: 13pt;
}
}
@media screen and (max-width: 980px) {
body, input, select, textarea {
font-size: 12pt;
}
.about_two{	margin-top: 6em;	margin-bottom: 6em;}
}
@media screen and (max-width: 736px) {
body, input, select, textarea {
font-size: 12pt;
}
.about_two{	margin-top: 6em;	margin-bottom: 6em;}
}
@media screen and (max-width: 480px) {
body, input, select, textarea {
font-size: 12pt;
}
}
@media screen and (max-width: 736px) {
h1 {
font-size: 1.5em;
}
h2 {
font-size: 1.25em;
}
h3 {
font-size: 1.1em;
}
}
@media screen and (max-width: 736px) {
form .field {
margin: 0 0 1.5em 0;
}
form .field.half {
padding: 0 0 0 0.75em;
}
form .field.half.first {
padding: 0 0.75em 0 0;
}
form > .actions {
margin: 2em 0 0 0 !important;
}
}
@media screen and (max-width: 480px) {
form .field.half {
width: 100%;
float: none;
padding: 0;
}
form .field.half.first {
padding: 0;
}
}
@media screen and (max-width: 480px) {
section .inner {
max-width: 90%;
width: 90%;
}
}
@media screen and (max-width: 1280px) {
.wrapper > .inner {
width: 65em;
}
}
@media screen and (max-width: 980px) {
.wrapper > .inner {
width: 100%;
}
}
@media screen and (max-width: 480px) {
#header .inner {
max-width: 90%;
width: 90%;
}
}
@media screen and (max-width: 736px) {
#header a {
padding: 0 0.5em;
}
}
@media screen and (max-width: 480px) {
#header {
min-width: 320px;
}
}
@media screen and (max-width: 980px) {
#nav {
display: none;
}
}
@media screen and (max-width: 980px) {
.navPanelToggle {
display: block;
}
}
@media screen and (max-width: 736px) {
.navPanelToggle {
right: 1em;
}
}
@media screen and (max-width: 980px) {
#navPanel {
display: block;
}
}
@media screen and (max-width: 480px) {
#banner .inner {
max-width: 90%;
width: 90%;
}
}
@media screen and (max-width: 1680px) {
#banner {
padding: 10em 0 8em 0;
}
}
@media screen and (max-width: 1280px) {
#banner {
padding: 8em 0 6em 0;
}
}
@media screen and (max-width: 980px) {
#banner {
padding: 12em 0 10em 0;
}
#banner br {
display: none;
}
}
@media screen and (max-width: 736px) {
#banner {
padding: 4em 0 2em 0;
}
#banner h1 {
font-size: 1.75em;
}
}
@media screen and (max-width: 480px) {
#banner {
padding: 5em 0 3em 0;
}
#banner ul {
margin-top: 1em;
}
}
@media screen and (max-width: 980px) {
#one {
padding: 4em 0 2em 0;
}
}
@media screen and (max-width: 736px) {
#one {
padding: 2em 0 0.1em 0;
}
}
@media screen and (max-width: 980px) {
#two {
/*padding: 4em 0 2em 0;*/
/*background: -moz-linear-gradient(top, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);*/
/*background: -webkit-linear-gradient(top, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);*/
/*background: linear-gradient(to bottom, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);*/
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f7f7f7',GradientType=0 );
}
#two .inner {
-moz-flex-direction: column;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
}
#two .inner article {
width: 100%;
}
#two .inner article:first-child {
padding-right: 0;
padding-bottom: 2em;
}
#two .inner article:last-child {
padding-left: 0;
padding-top: 2em;
}
}
@media screen and (max-width: 736px) {
#two {
padding: 2em 0 0.1em 0;
}
}
@media screen and (max-width: 980px) {
#three .inner {
-moz-flex-direction: column;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
}
#three .inner article {
width: 100%;
margin: 0 auto;
}
}
@media screen and (max-width: 980px) {
#three {
padding: 4em 0 2em 0;
}
}
@media screen and (max-width: 736px) {
#three {
padding: 2em 0 0.1em 0;
}
}
@media screen and (max-width: 480px) {
#footer .inner {
max-width: 90%;
width: 90%;
}
}
@media screen and (max-width: 980px) {
#footer {
padding: 4em 0 2em 0;
}
}
@media screen and (max-width: 736px) {
#footer {
padding: 2em 0 0.1em 0;
}
}
@media screen and (max-width: 480px) {
#two {
padding: 0em 0 0.1em 0;
}
.about_two {
margin-top: 2em!important;
margin-bottom: 2em!important;
}
.about_two .two_h3 {
line-height: 0px;
color: #111111;
padding-top: 0em;
text-align: left;
}
.two_right_sec {
margin-bottom: 2em!important;
}
}
@media screen and (max-width: 736px) {
#two {
padding: 0em 0 0.1em 0;
}
.about_two {
margin-top: 2em!important;
margin-bottom: 2em!important;
}
.about_two .two_h3 {
line-height: 0px;
color: #111111;
padding-top: 0em;
text-align: left;
}
.two_right_sec {
margin-bottom: 2em!important;
}
}
@media screen and (max-width: 980px) {
#two {
padding: 0em 0 0.1em 0;
}
.about_two {
margin-top: 2em!important;
margin-bottom: 2em!important;
}
.about_two .two_h3 {
line-height: 0px;
color: #111111;
padding-top: 0em;
text-align: left;
}
.two_right_sec {
margin-bottom: 2em!important;
}
}
@media screen and (max-width: 1280px) {
}